<div class="post-detail-container">
  <h1 class="title">{{ post.title }}</h1>

  <div class="meta-info">
    <img [src]="post.user.profileImage || 'assets/images/male-employee-image.png'" alt="Profile" class="profile-img" />
    <div>
      <div class="author">{{ post.user.name }}</div>
      <div class="date">{{ post.createdAt | date: 'mediumDate' }}</div>
    </div>
    <div class="category">{{ post.category }}</div>
  </div>

  <img [src]="post.image" alt="Post Image" class="post-image" />

  <div class="content">
    {{ post.content }}
  </div>
</div>
