<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <div class="field">
    <input type="email" placeholder="Email Address" formControlName="email" />
  </div>
  <div class="field">
    <input type="password" placeholder="Password" formControlName="password" />
  </div>
  <div class="field">
    <input type="text" placeholder="Full Name" formControlName="name" />
  </div>
  <div class="field btn">
    <div class="btn-layer"></div>
    <input type="submit" value="Signup" [disabled]="signupForm.invalid " />
  </div>
</form>