.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: linear-gradient(90deg, #efd5ff 29%, #515ada 117%);
  color: #fff;
  position: relative;
  // z-index: 2;
  padding-bottom: 53px;

  .nav-section {
    flex: 1;
    // z-index: 1;

    &.icon-section {
      text-align: left;
    }

    &.title-section {
      text-align: center;
      font-size: 1.5rem;
      font-weight: 600;
    }

    &.actions-section {
      text-align: right;
      z-index: 1;
      button {
        margin-left: 0.5rem;
      }
    }
    .social-icons {
      display: flex;
      justify-content: right;
      gap: 1.5rem;
      // margin-bottom: 1.5rem;

      img {
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        transition: transform 0.2s ease;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  .nav-icon {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;

    &:hover {
      color: #ffc107;
    }
  }
  svg {
    display: block;
    width: 100%;
    height: 120px;
    position: absolute;
    bottom: -36px;
    left: 0px;
  }
}
